body {
  background-color: lightblue;
}

.App {
  text-align: center;
  margin-top: 30px;
}

li {
  list-style-type: none;
  font-size: 20px;
}

#visit-container {
  width: 200px;
  height: 200px;
  background-color: lightblue;
  box-shadow: 1px 6px 15px rgba(0,0,0,0.5);
  margin: 10px 23px;
  display: inline-block;
}

 a {
  text-decoration: none;
}

#container {
  width: 100%;
  height: auto;
}

#visit-counter {
  font-size: 50px;
  font-weight: bold;
}

#footer {
  bottom: 0;
  text-align: center;
}